# Credenciais do ERP ADMSIS
ERP_URL=https://erp.admsis.com/Home?eng_tela=0103070100
ERP_USERNAME=SEU_USUARIO
ERP_PASSWORD=SUA_SENHA

# Configurações
FILIAL_PADRAO=429
USE_CAMOUFOX=False
PDF_PASSWORD=05393

# Bot Discord Sofia (Opcional para canal de chat)
DISCORD_BOT_TOKEN=seu_discord_bot_token_aqui
